/*格式化样式*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0;padding:0;}
table {border-collapse:collapse;border-spacing:0;}
fieldset,images {border:0}
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal;font-weight:normal}
ol,ul {list-style:none}
caption,th {text-align:left}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal}
q:before,q:after {content:''}
abbr,acronym { border:0}
span{ vertical-align:middle;}
form{ display:inline;}
a{ text-decoration:none; }
button, input, select, textarea { font-size:100%; }
a:hover { text-decoration:none; }
input{ border:none 0; vertical-align:middle;}
body, button, input, select, textarea {
	font: 12px/1.5 "微软雅黑";
	vertical-align: middle;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.tr{
	text-align: right;
}
.tl{
	text-align: left;
}
.c-000{
	color: #000;
}
.h30{
	height: 30px;
}
.header{ 
	border-top: 5px solid #0BB5FF;
	position: relative;
	height: 64px;
}
.logo{
	font-size: 28px;
	color: #333;
	font-weight: 400;
	height: 44px;
	line-height: 44px;
	left: 90px;
	top: 10px;
	position: absolute;
}
.logo img{
	width: 44px;
	height: 44px;
	float: left;
	margin-right: 17px;
}
.nav{
	position: absolute;
	right: 165px;
	top: 10px;
}
.nav li{
	display: inline-block;
	margin: 0 10px;
	height: 44px;
	line-height: 44px;
}
.nav li a{
	color: #000;
	font-size: 16px;
	font-weight: 400;
}
.content{
	height: 492px;
	position: relative;
}
.login{
	background-color: #fff;
	position: absolute;
	right: 165px;	
	top: 50%;
	margin-top: -200px;
	width: 363px;
	padding: 20px;
	border-radius: 5px;
}
.login .title{
	font-size: 20px;
	color: #000;
	margin-bottom: 20px;
}
.input{
	border:1px solid #d7d7d7;
	height: 50px;
	margin-bottom: 15px;
	border-radius: 4px;
}
#school-list option{
	padding: 5px;
}
#school-list select{
	width:312px;
	color: #636363;
	overflow:hidden;
	border: 0;
}
.login .school span{
	background:url(../assets/images/u61.png) no-repeat 0 0;
	background-size: 100%;
	width: 28px;
	height: 28px;
	display: inline-block;
	margin: 11px 8px;
	float: left;
}
.login .user span{
	background:url(../assets/images/u22.png) no-repeat 0 0;
	background-size: 100%;
	width: 28px;
	height: 28px;
	display: inline-block;
	margin: 11px 8px;
}
.login .password span{
	background:url(../assets/images/u26.png) no-repeat 0 0;
	background-size: 100%;
	width: 28px;
	height: 28px;
	display: inline-block;
	margin: 11px 8px;
}
.login input,.login select{
	height: 50px;
	font-size: 14px;
	margin-left: 5px;
	width: 308px;
}
.a-login{
	color: #fff;
	background-color: #0BB5FF;
	display: inline-block;
	width: 120px;
	height: 40px;
	text-align: center;
	line-height: 38px;
	font-size: 18px;
	border-radius: 4px;
}
.footer{
	height:100px;
	/*border: 1px ridge red;*/
	padding-bottom: 10px;
}
.footer a{
	color: #000;
	font-size: 14px;
}
.footer dd{ 
	display: inline-block;
	padding: 15px 0 5px;
}
/* select */
.select{
	position:relative;
	height: 50px;
	display: inline-block;
	font-size: 14px;
}
.select dt{
	height:50px;
	display:
	inline-block;
	background:url(../assets/images/u65.png) no-repeat right center;
	background-size: 26px 26px;
	line-height:50px;
	padding-left:10px;
	cursor:pointer;
	width:280px;
	padding-right:12px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	position:relative;
	z-index:99;
}
.select dd{
	position:absolute;
	left:0;
	top:50px;
	border:1px solid #d2ccc4;
	background:#fff;
}
.select dd ul{
	padding:4px 0;
	width:315px;
	max-height:250px;
	overflow:auto;
}
.select dd ul li a{
	line-height:28px;
	display:block;
	padding:0 8px;
	color: #000;
}
.select dd ul li a:hover{
	background:#f5f5f5;
}
.border-r{
	border:1px solid #e15f63;
}
.prompt{
	float: left;
	color: #e15f63;
}
.float-box{
	background-color: #fff;
	position: absolute;
	right: 165px;

}
.float-box dd{
	margin-left: 10px;
}
.float-box img{
	width: 80px;
	height: 80px;
}
/*.code {*/
	/*background-image: url(code.jpg);*/
	/*font-family: Arial;*/
	/*font-style: italic;*/
	/*color: Red;*/
	/*border: 0;*/
	/*padding: 2px 3px;*/
	/*letter-spacing: 3px;*/
	/*font-weight: bolder;*/
/*}*/


/*首页样式*/
.s-user-img{
	width:80px;
	height:80px;
	border:2px solid #ccc;
}

@media screen and (min-width: 1920px){
	.content{
		height: 691px;
	}
}
.footer{
	padding:5px 20px;
}
.title{
	overflow: hidden;
}
.title>h3{
	font-weight:bold;
	font-size: 20px;
}
.title>a{
	font-size: 14px;
}
.title>a:hover{
	color: #0BB5FF;
		 }
.news{
	margin-top: 20px;
	margin-bottom: 50px;
	overflow: hidden;
}
.news ul{
	width: 40%;
	float: left;
}
.news ul:first-child{
	padding-right: 50px;
}
.news ul:nth-of-type(2){
	padding-left: 50px;
}
.news ul>li{
	font-size: 14px;
	text-align: left;
}
.news ul>li>a{
	display: inline-block;
	height: 20px;
	line-height: 20px;
	font-size: 16px;
	cursor: pointer;
	width: 100%;
	color: #333;
}
.news ul>li>a:hover{
	text-decoration: underline;
}
.line{
	border-left:1px solid #000;
	float: left;
	height: 70px;
}
.fot{
	text-align: center;
	font-size: 14px;
	color: #333;
}
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset;
}
.a-login:hover{
	color: #fff;
}
.register{
	float:right;
	display:inline-block;
	height:20px;
	line-height:20px;
	font-size:20px;
	margin-top:5px;
	margin-right:5px;
	color: #0BB5FF;
}
.register:hover{
	text-decoration: underline;
}